<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LandingPage</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LandingPage.styles.css" asp-append-version="true" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <nav id="navbar">
            <i id="nav_logo" class="fa-solid fa-computer"> CPR</i>
            <ul id="nav_list">
                <li class="nav-item active">
                    <a href="#home">Inicio</a>
                </li>
                <li class="nav-item active">
                    <a href="#catalogo">Catálogo</a>
                </li>
                <li class="nav-item active">
                    <a href="#avaliacao">Avaliações</a>
                </li>
            </ul>
            <div>
            <button class="btn-default">
                Acessar
            </button>
            <button class="btn-default">
                <i class="fa-solid fa-basket-shopping"></i>
            </button>
            </div>
            <button id="mobile_btn">
                <i class="fa-solid fa-bars"></i>
            </button>
        </nav>

        <div id="mobile_menu">
            <ul id="mobile_nav_list">
                <li class="nav-item">
                    <a href="#home">Inicio</a>
                </li>
                <li class="nav-item">
                    <a href="#catalogo">Catálogo</a>
                </li>
                <li class="nav-item">
                    <a href="#carrinho">Carrinho</a>
                </li>
                <li class="nav-item">
                    <a href="#avaliacao">Avaliações</a>
                </li>
                <li class="nav-item">
                    <a href="#conta">Acessar conta</a>
                </li>
                
            </ul>

        </div>
    </header>
    @* <img class="background-img" src("~/images/backgroundCPR.jpg") /> *@
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - LandingPage - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
