@{
    ViewData["Title"] = "Home Page";
}

<main>
    <section id="home">
        <div class="shape"></div>
        <div id="cta">
            <h1 class="title">
                Automatize
                <span>sua empresa</span>
            </h1>
            <div class="description">
                <p>
                    Equipamentos Elgin é tudo que você precisa para automatizar o seu negócio.
                </p>
            </div>
            <div id="cta_buttons">
                <a href="#" class="btn-default" id="catalogo">
                    Checar catálogo
                </a>

                <a href="tel:+5545999185663" class="btn-default" id="phone_button">
                    <i class="fa-solid fa-phone"></i>
                    (45) 99918-5663
                </a>
            </div>

            <div class="social-media-buttons">
                <a href="">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
                <a href="">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="">
                    <i class="fa-brands fa-facebook"></i>
                </a>
            </div>
        </div>

        <div id="banner">
            <img id="elgin" src="~/images/banner.jpg" alt="" />
        </div>
    </section>

    <section id="produtos">
        <h2 class="section-title">Equipamentos</h2>
        <h3 class="section-subtitle">Impressoras térmicas</h3>
        <div id="banner_produtos">
            <div class="produto1">

                <img id="i9" src="~/images/i9.jfif" alt="" />
                <h3 class="i9-title">Impressora Elgin I9 FULL</h3>
                <span class="i9-description">
                    <span class="comunicacao">Monocromática · Impressora · Suporta conexões de rede com fio · USB · Serial · Comunicação com gaveta de dinheiro ·</span>
                    A Impressora Térmica Elgin I9 é um equipamento poderoso e eficaz para a sua empresa,
                    sendo uma solução ideal para impressões de cupom fiscais ou não fiscais. <a class="detalhes">Clique para mais detalhes...</a>
                </span>

                <div class="i9-price">
                    <h4>R$790,00</h4>
                    <button class="btn-default">
                        <i class="fa-solid fa-basket-shopping"></i>
                    </button>
                </div>
            </div>
        </div>
    </section>
</main>